body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas:
        "header"
        "aside"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100dvh;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

aside {
    grid-area: aside;
    background-color: #f0f0f0;
}

footer {
    grid-area: footer;
    text-align: center;
    padding: 1em;
    background-color: #f0f0f0;
}

header {
    grid-area: header;
    text-align: center;
    padding: 1em;
    background-color: #f0f0f0;
}

canvas {
    border: 1px solid black;
    height: 480px;
    width: 640px;
}